.header {
    padding: 10px 50px;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 226, 226);
} 
.header .user-menu {
    align-items: center;
    display: flex;
    cursor: pointer;
}
.header .user-menu .user-menu-name {
    font-size: 18px;
    margin-right: 10px;
} 
.header .user-menu img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: content-box;
} 
.header .left {
    display: flex;
    align-items: center;
}
.header .left .menu-icon {
    margin-right: 20px;
    height: 40px;
}
.header .left h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.modal-choose-container {
    justify-content: center;
    align-items: center;
    display: flex;
}
.modal-choose-container .right {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-choose-container .right p {
    font-size: 20px;
}
.modal-choose-container .right .input-chat-name {
    width: 100%;
    font-size: 20px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 10px;
}

.body {
    margin-top: 6px;
    padding: 10px 50px;
    display: flex;
    flex: 1;
    max-height: calc(100% - 70px);
}

.chats-menu {
    width: 20%;
    min-width: 300px;
}
.chats-menu .search-chats {
    width: 100%;
    font-size: 20px;
    padding: 5px 10px ;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 10px;
}
.chats-menu .left-chat {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
    cursor: pointer;
}
.active-chat {
    background-color: rgb(145, 145, 15);
    color: white;
}
.chats-menu .left-chat .left img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid lightgrey;
}
.chats-menu .left-chat .right {
    width: 100%;
    margin-left: 20px;
}
.chats-menu .left-chat .right .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.chats-menu .left-chat .right .top .chat-name {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 22px;
    text-align: start;
}
.chats-menu .left-chat .right .top .time {
    font-size: 14px;
    margin-bottom: 2px;
}
.chats-menu .left-chat .right .bottom {
    display: flex;
    align-items: end;
}
.chats-menu .left-chat .right .bottom {
    display: flex;
    align-items: end;
    font-size: 14px;
}
.chats-menu .left-chat .right .bottom .text {
    margin-left: 4px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}