.main {
    margin: 0px 20px;
}

.header {
    padding: 10px 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
} 
.header .user-menu {
    align-items: center;
    display: flex;
    cursor: pointer;
}
.header .user-menu .user-menu-name {
    font-size: 18px;
    margin-right: 10px;
} 
.header .user-menu img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
} 
.chats-menu {
    width: 350px;
}
.chats-menu .left-chat {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.chats-menu .left-chat .left img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border: 2px solid lightgrey;
}
.chats-menu .left-chat .right {
    margin-left: 20px;
}
.chats-menu .left-chat .right .chat-name {
    font-weight: bold;
    margin-bottom: 8px;
    font-size: 22px;
    text-align: start;
}
.chats-menu .left-chat .right .latest-message {
    display: flex;
    align-items: end;
    font-size: 14px;
}
.chats-menu .left-chat .right .latest-message .text {
    margin-left: 4px;
    max-width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.chats-menu .left-chat .right .latest-message .time {
    margin-left: 4px;
    font-size: 12px;
}