.messages {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.messages .messages-container {
    max-height: 100%;
    max-width: 100%;
    overflow-x: hidden;
    flex: 1;
}
.messages .chat-bottom {
    display: flex;
    border-radius: 10px;
    border: 1px solid black;
    margin-top: 10px;
}
.messages .rs-uploader-picture .rs-uploader-trigger-btn {
    margin: 0;
}
.messages .write-message {
    width: 100%;
    font-size: 20px;
    padding: 10px;
    border: none;
    border-radius: 0px 10px 10px 0px;
}
.messages .message {
    border-radius: 20px;
    max-width: 80vh;
    padding: 5px 10px;
}
.messages .message .message-data {
    max-width: 80vh;
    display: flex;
}
.messages .other-user .message {
    background-color: rgb(252, 252, 166);
}
.messages .you-user .message {
    background-color: rgb(166, 252, 173);
}
.messages .message .author-image img {
    margin-right: 10px;
    height: 40px;
    border-radius: 50%;
}
.messages .message .content .message-author {
    margin-bottom: 2px;
    font-size: 13px;
    font-weight: bold;
}
.messages .message .content .message-text {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
}

.messages .message .content .message-images {
    display: grid;
    grid-auto-rows: 1fr; 
    gap: 5px;
    max-height: 100%; 
}
.messages .message .content .message-images .chat-message-image {
    object-fit: cover; 
    object-position: center;
    cursor: pointer;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
}

.messages .message .content .chat-message-image-text {
    margin-top: 5px;
}

.messages .message .message-responseTo-body {
    max-width: 80vh;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
    border-left: 2px solid black;
    border-top: 2px solid black;
}

.messages .message .message-responseTo-body div {
    font-size: 14px;
}

.messages .message .message-responseTo-body .response-text {
    max-width: 100%;
    max-height: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
    word-break: break-all;
}


.messages .message .content .message-images-1 {
    grid-template-columns: repeat(1, 1fr)
}
.messages .message .content .message-images .chat-message-image-1 {
    height: 40vh;
}

.message-images-2 {
    grid-template-columns: repeat(2, 1fr)
}
.chat-message-image-2, .chat-message-image-3, .chat-message-image-4 {
    height: 30vh;
}

.message-images-3 {
    grid-template-columns: repeat(3, 1fr)
}

.message-images-4 {
    grid-template-columns: repeat(2, 1fr)
}

.message-images-5, .message-images-6 {
    grid-template-columns: repeat(3, 1fr)
}
.chat-message-image-5, .chat-message-image-6 {
    width: 20vh;
    height: 20vh;
}

