.chat-settings-modal .settings-container .chat-information{
    display: flex;
    align-items: center;
}
.chat-settings-modal .settings-container .chat-information .left img {
    height: 80px;
    width: 80px;
    border: 1px solid black;
    border-radius: 50%;
}
.chat-settings-modal .settings-container .chat-information .right {
    margin-left: 10px;
}
.chat-settings-modal .settings-container .chat-information .right .name {
    font-size: 22px;
}
.chat-settings-modal .settings-container .chat-information .right .members-amount {
    font-size: 14px;
    color: rgb(112, 112, 112);
}
.chat-settings-modal .settings-container .chat-members {
    margin-top: 10px;
}
.chat-settings-modal .settings-container .chat-members .members-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chat-settings-modal .settings-container .chat-members .members-header .left {
    display: flex;
    align-items: center;
}
.chat-settings-modal .settings-container .chat-members .members-header .left p {
    margin-left: 10px;
    font-size: 18px;
    margin-top: 2px;
}
.chat-settings-modal .settings-container .chat-members .members-header .add-users-icon {
    cursor: pointer;
    transition: rotate 1s;
    margin-right: 5px;
}
.chat-settings-modal .settings-container .chat-members .members-header .add-users-icon:hover {
    rotate: 270deg;
}

.chat-settings-modal .settings-container .chat-members .members {
    margin-top: 10px;
}

.add-users .add-users-container input {
    font-size: 20px;
    padding: 5px 10px ;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin: 10px 0px;
    width: 100%;
}