.modal-choose-container {
    justify-content: center;
    align-items: center;
    display: flex;
}
.modal-choose-container .right {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal-choose-container .right p {
    font-size: 20px;
}
.modal-choose-container .right .input-chat-name {
    width: 100%;
    font-size: 20px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 10px;
}
.second-modal .search-users {
    text-align: center;
}
.second-modal .search-users input {
    font-size: 20px;
    padding: 5px 10px ;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin: 10px 0px;
    width: 100%;
}
.second-modal .rs-modal-body {
    margin-top: auto;
}
.second-modal .add-user-container .user-small {
    cursor: pointer;
}
.second-modal .selected-user {
    background-color: lightblue;
}
