.messageImage-modal .modal-body {
    display: flex;
    justify-content: center;
    
}

.messageImage-modal .images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    margin-top: 10px;
}

.messageImage-modal .images img {
    object-fit: cover;
    width: 230px;
    height: 230px;
    border: 3px solid black;
    border-radius: 5px;
}
.messageImage-modal .images .cross {
    position: absolute;
    margin-left: 220px;
    margin-top: -240px;
    background-color: red;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
}
.messageImage-modal .images .cross p {
    height: 26px;
    width: 8px;
}
.messageImage-modal .input-chat-name {
    width: 100%;
    font-size: 20px;
    padding: 3px;
    border-radius: 10px;
    border: 1px solid rgb(204, 204, 204);
    margin: 5px 0px;
}